<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.example"
        versionCode="10" 
        version   = "1.0.0">

    <!-- versionCode is optional and Android only -->

    <name>ContactsPro</name>

    <description>
        Contacts Management App for a Group of People to have a list of Synchronized Contacts, also available offline.
    </description>

    <author href="https://appsonmob.com" email="rahat@appsonmob.com">
        AppMechanic
    </author>

    <preference name="phonegap-version" value="2.4.0" />

</widget>